<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_05_0000_图层-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0001_图层-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0002_图层-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0003_图层-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0004_图层-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2689,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0005_图层-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{3361,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0006_图层-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0007_图层-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0008_图层-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0009_图层-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0010_图层-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2689,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0011_图层-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{3361,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0012_图层-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,845},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0013_图层-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,845},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0014_图层-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,845},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0015_图层-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,845},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0016_图层-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2689,845},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0017_图层-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{3361,845},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0018_图层-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0019_图层-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0020_图层-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0021_图层-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0022_图层-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2689,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0023_图层-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{3361,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0024_图层-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,1689},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0025_图层-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{3361,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0026_图层-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2689,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0027_图层-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,1689},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0028_图层-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,1689},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0029_图层-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,1689},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0030_图层-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2689,1689},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0031_图层-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{3361,1689},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0032_图层-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,2111},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0033_图层-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,2111},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0034_图层-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,2111},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0035_图层-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,2111},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0036_图层-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2689,2111},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0037_图层-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{3361,2111},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0038_图层-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,2533},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0039_图层-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,2533},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0040_图层-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,2533},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0041_图层-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{3361,2111},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0042_图层-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,2533},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0043_图层-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,2533},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0044_图层-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2689,2533},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Clear.png</string>
            <key>size</key>
            <string>{4032,2954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71b5f0368ea3a2820c5b539940971bc8:b76e738db96d39ae6fcea2a864188a74:0f5446412a20d8297630d2bf005480ca$</string>
            <key>textureFileName</key>
            <string>Clear.png</string>
        </dict>
    </dict>
</plist>
