<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_05_0001_图层-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{0,0},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0002_图层-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{198,0},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0003_图层-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{0,238},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0004_图层-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{198,238},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0005_图层-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{0,476},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0006_图层-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{198,476},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0007_图层-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{0,714},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0008_图层-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{198,714},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0009_图层-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{0,952},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0010_图层-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{198,952},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0011_图层-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{0,1190},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0012_图层-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{198,1190},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0013_图层-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{0,1428},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0014_图层-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{198,1428},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0015_图层-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{0,1666},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0016_图层-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,238}</string>
                <key>spriteSourceSize</key>
                <string>{198,238}</string>
                <key>textureRect</key>
                <string>{{198,1666},{198,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Feed.png</string>
            <key>size</key>
            <string>{396,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d209dd5a45b119bc385000e1f4eedd:ad11061e8da49ec4f88e0502412efc05:55a1983ad853420945f7b72c39590111$</string>
            <key>textureFileName</key>
            <string>Feed.png</string>
        </dict>
    </dict>
</plist>
