<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{0,0},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{670,0},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1340,0},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{0,420},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{670,420},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1340,420},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{0,840},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chick_sick.png</string>
            <key>size</key>
            <string>{2010,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e60026ed35f7e4e97476151774fe2e7f:a8288b890d6ddbb7cd53aceb38f09b39:4dac048edcf5928acfde96955986c4ca$</string>
            <key>textureFileName</key>
            <string>Chick_sick.png</string>
        </dict>
    </dict>
</plist>
