<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_05_0000_图层-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0001_图层-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0002_图层-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0003_图层-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0004_图层-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0005_图层-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0006_图层-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0007_图层-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2017,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>治疗.png</string>
            <key>size</key>
            <string>{2688,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:981c7298c0810d84dcf6c2386bfd3c62:b152d947b5b4a7a438a36f0f56f939b7:5b4c05da280c699e283a17ee08435d9e$</string>
            <key>textureFileName</key>
            <string>治疗.png</string>
        </dict>
    </dict>
</plist>
