<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_05_0000_图层-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{1702,585},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0001_图层-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{283,780},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0002_图层-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{0,780},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0003_图层-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{1419,585},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0004_图层-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{1136,585},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0005_图层-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{281,585},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0006_图层-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{851,585},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0007_图层-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{566,585},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0008_图层-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,195}</string>
                <key>spriteSourceSize</key>
                <string>{286,195}</string>
                <key>textureRect</key>
                <string>{{564,780},{286,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0009_图层-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,195}</string>
                <key>spriteSourceSize</key>
                <string>{286,195}</string>
                <key>textureRect</key>
                <string>{{850,780},{286,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0010_图层-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,195}</string>
                <key>spriteSourceSize</key>
                <string>{286,195}</string>
                <key>textureRect</key>
                <string>{{283,975},{286,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0011_图层-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{852,975},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0012_图层-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{1422,975},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0013_图层-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{1137,975},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0014_图层-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{569,975},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0015_图层-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{0,975},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0016_图层-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{1136,780},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0017_图层-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{1700,780},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0018_图层-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{1419,780},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0019_图层-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{0,585},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0020_图层-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{1707,390},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0021_图层-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{1702,0},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0022_图层-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{283,195},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0023_图层-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{0,195},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0024_图层-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{1419,0},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0025_图层-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{1136,0},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0026_图层-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{281,0},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0027_图层-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{851,0},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0028_图层-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{566,0},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0029_图层-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,195}</string>
                <key>spriteSourceSize</key>
                <string>{286,195}</string>
                <key>textureRect</key>
                <string>{{564,195},{286,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0030_图层-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,195}</string>
                <key>spriteSourceSize</key>
                <string>{286,195}</string>
                <key>textureRect</key>
                <string>{{850,195},{286,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0031_图层-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,195}</string>
                <key>spriteSourceSize</key>
                <string>{286,195}</string>
                <key>textureRect</key>
                <string>{{283,390},{286,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0032_图层-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{852,390},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0033_图层-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{1422,390},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0034_图层-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{285,195}</string>
                <key>textureRect</key>
                <string>{{1137,390},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0035_图层-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{569,390},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0036_图层-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{0,390},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0037_图层-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,195}</string>
                <key>textureRect</key>
                <string>{{1136,195},{283,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0038_图层-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{1700,195},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0039_图层-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{1419,195},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0040_图层-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,195}</string>
                <key>spriteSourceSize</key>
                <string>{281,195}</string>
                <key>textureRect</key>
                <string>{{0,0},{281,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chick_shit_sick.png</string>
            <key>size</key>
            <string>{1988,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:176acc60b0e89f158dfbaf7db2228ade:0dab021506b49019ad24a894235c78af:3620df25a249a646686cb25ea54647e3$</string>
            <key>textureFileName</key>
            <string>Chick_shit_sick.png</string>
        </dict>
    </dict>
</plist>
