<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_03.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{0,26},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{0,105},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_05.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{0,132},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_06.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{26,154},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_08.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,18}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{26,132},{26,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{0,154},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{15,0},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{26,78},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_19.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{26,52},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_29.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{0,78},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_32.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{31,0},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_34.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,26}</string>
                <key>spriteSourceSize</key>
                <string>{15,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_38.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{22,26},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_39.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{0,52},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon切图_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{26,105},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>weatherIcon.png</string>
            <key>size</key>
            <string>{52,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bf8cbe439244559d910e1f460945605:795f8cc9e2cdf81572a1b56a55f772e1:625e4367296df8b64bdcda9ebcf554c8$</string>
            <key>textureFileName</key>
            <string>weatherIcon.png</string>
        </dict>
    </dict>
</plist>
