<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_05_0000_图层-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0001_图层-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,0},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0002_图层-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,0},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0003_图层-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,400},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0004_图层-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,400},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0005_图层-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,400},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0006_图层-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,800},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0007_图层-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,800},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0008_图层-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,800},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0009_图层-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,1200},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0010_图层-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,1200},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0011_图层-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,1200},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0012_图层-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,1600},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0013_图层-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,1600},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0014_图层-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,1600},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0015_图层-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,2000},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0016_图层-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,2000},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0017_图层-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,2000},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0018_图层-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,2400},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0019_图层-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,2400},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0020_图层-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,2400},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0021_图层-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,2800},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0022_图层-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,2800},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0023_图层-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,2800},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0026_图层-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,3200},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0027_图层-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,3200},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0028_图层-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,3200},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0029_图层-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{0,3600},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0030_图层-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{550,3600},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0031_图层-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1100,3600},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chick_born.png</string>
            <key>size</key>
            <string>{1650,4000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:264f1c71cb9c9d1b42dde62064038d16:5ff819314036943bcaec98cfdc2519bf:b4c7fa2bd54195a255e1b9d4278ad903$</string>
            <key>textureFileName</key>
            <string>Chick_born.png</string>
        </dict>
    </dict>
</plist>
