<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{0,0},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{670,0},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1340,0},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2010,0},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2680,0},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{0,420},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{670,420},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1340,420},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2010,420},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2680,420},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{0,840},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{670,840},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1340,840},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2010,840},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2680,840},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{0,1260},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{670,1260},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1340,1260},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2010,1260},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{2680,1260},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chick_Normal.png</string>
            <key>size</key>
            <string>{3350,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a0d5938b32a5f8ba4c1dacde4a53da2:91f7ea4fd439cdd83f47c95c62a577c7:d96ee0eaa86d76833b7c3fde13280c4b$</string>
            <key>textureFileName</key>
            <string>Chick_Normal.png</string>
        </dict>
    </dict>
</plist>
