<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_05_0000_图层-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0001_图层-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,1},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0002_图层-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,1},{670,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_05_0003_图层-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0004_图层-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,423},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0005_图层-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,845},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0006_图层-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,845},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0007_图层-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,673},{670,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_05_0008_图层-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0009_图层-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,1267},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0010_图层-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1345,1345},{670,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_05_0011_图层-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{1,1689},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05_0012_图层-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,420}</string>
                <key>spriteSourceSize</key>
                <string>{670,420}</string>
                <key>textureRect</key>
                <string>{{673,1689},{670,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chick_Sick_Hungry.png</string>
            <key>size</key>
            <string>{1766,2110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eef034c252ce4a32abc70cd7128c8d46:4a95aa3568d9f3a95b7847cbc7bb7c9f:15cd816b4b292a2c5293dc6965aa1546$</string>
            <key>textureFileName</key>
            <string>Chick_Sick_Hungry.png</string>
        </dict>
    </dict>
</plist>
